<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @purchaser.name %>
</p>

<p>
  <strong>Purchases:</strong>
  <table>
    <% @purchaser.purchases.each do |purchase| %>
      <tr>
        <td><%= link_to purchase.id, purchase %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_purchaser_path(@purchaser) %> |
<%= link_to 'Back', purchasers_path %>
