<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= price @item.price %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= link_to @item.merchant.name, @item.merchant %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
